body{
    background-image: url(/src/app/backG.jpg);
    background-size: 100%;
}


.App{
    position: relative;
    width: 950px;
    height: 650px;  
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    display: flex;  

}

header{
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #6e6767;
    font-size: 25px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
}

.menu-list{
    position: relative;
    width:  400px;
    margin: 10px;
}

.content{
    flex: 2 700px;
    margin: 10px;
    position: relative;
    flex-direction:column;
    justify-content: top;
    width: 100%;
}

.item{
    margin: 0;
    flex: 1 400px;
    vertical-align:middle;
}

ul{
    margin: 0;
}

.search-add{
    display: flex;
    width: 400px;
    vertical-align:middle;
}

.input-search{
   flex: 1 200px;
}

.button-add{ 
    margin-bottom: 10px;
    background: #ca2e2ec7;
    border-bottom: 4px solid #ca2e2ee5;
    color: rgb(8, 8, 8);
    font-size: 14px;  
    float: right;
    width: 80px;
}

.item-title{
    width:300px;
}

.item{
    display: flex;
    justify-content: space-between;
    background: #f7f4f4e5;
    margin: 5px;
}

.delete-button{
    margin-bottom: 10px;
    border-bottom: 4px solid #ca2e2ee5;
    color: rgb(8, 8, 8);
    font-size: 14px;  
    float: right;
    width: 50px;
}


.list{
    height: 100%;
    display:flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0px 0px 0px 0px;
    list-style: none;
    background: #eee7e7bb;
    border: 2px ;
    border-style: solid;
    border-color: #0c0c0cea; 
}

#title{
    position: relative;
    display: flex;
    width: 50%;
}
.title-input, .input-search{
    padding: 0 20px;
    margin-bottom: 10px;
    background: #eee7e7a8;
    line-height: 40px;
    border-width: 0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border: 2px ;
    border-style: solid;
    border-color: #0c0c0cea; 
}

.no-active-note {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #6e6767bd;
    font-size: 25px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
}

.text-edit {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #eee7e7a8;
    line-height: 40px;
    border-width: 0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border: 2px ;
    border-style: solid;
    border-color: #0c0c0cea; 
 }
